



page-login {






}

.ss{

  color: rgb(255, 127, 159);
}







.example-card {
  max-width: 100%;

  margin: auto;

  margin-top: 20%;

padding: 30px;

opacity: 0.8;
}

.back{


  background-image: url("../../assets/imgs/advance-card-map-madison.png");
  background-attachment: fixed;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


